<div style="border-top: 4px solid #992b00; background: #ffffff; height: 100vh; padding: 2%;">

    <table style="width: 90%;">
        <tr>
            <td style="width: 30%;">
                <mat-form-field color="accent" appearance="fill">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="picker1"  [(ngModel)] = "startDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
            </td>

            <td style="width: 30%;">
                <mat-form-field color="accent" appearance="fill">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="picker2" [(ngModel)] = "endDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </td>

            <td style="width: 30%;">

                <mat-form-field appearance="fill">
                    <mat-label>Shop</mat-label>
                    <mat-select name="shopID" [formControl]="shopID">
                      <mat-option *ngFor="let shop of shops" value="{{shop.id}}">
                        {{shop.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </td>

            <td style="width: 10%;">
                <button class="clear-btn" *ngIf="!loading" (click)="search()" style="cursor: pointer; height: 40px;">
                    SEARCH
                </button>
                <mat-spinner [diameter]="40"  *ngIf="loading"></mat-spinner>
            </td>
        </tr>
    </table>


    <div style="padding-left: 5%; padding-right: 5%;" [hidden]="!isData">

        <input  (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input style="height: 40px;">
        <br><br>
      <div class="mat-elevation-z5">
        <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
      

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

             <ng-container matColumnDef="productName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
                <td mat-cell *matCellDef="let row"> {{row.productName}} </td>
              </ng-container>
      
    
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
            <td mat-cell *matCellDef="let row"> {{row.quantity}}</td>
          </ng-container>

          <ng-container matColumnDef="unitPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit Price </th>
            <td mat-cell *matCellDef="let row" > {{row.unitPrice}} </td>
          </ng-container>
      

          <ng-container matColumnDef="totalPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Cost </th>
            <td mat-cell *matCellDef="let row" > {{row.totalPrice}} </td>
          </ng-container>

          <ng-container matColumnDef="shopName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Shop </th>
            <td mat-cell *matCellDef="let row" > {{row.shopName}} </td>
          </ng-container>

          <ng-container matColumnDef="dateCreated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Date </th>
            <td mat-cell *matCellDef="let row" > {{row.dateCreated | date: 'MMM d, y, h:mm:ss a'}} </td>
          </ng-container>

     
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
      </div>
</div>




</div>
