<div mat-dialog-title>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <button (click)="onNoClick()" class="dialog-btn-close"><mat-icon class="dialog-close-btn">close</mat-icon></button>
  </div>
</div>

<div mat-dialog-content>

  <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedOption">
    <mat-radio-button value="1">Delete Shop</mat-radio-button>

  </mat-radio-group>



  <div *ngIf="selectedOption === '1'" style="padding-top: 5%;">
    <span>Reason</span><br>
    <input type="text" name="quantity"  [(ngModel)] = "formData.reason" style="width: 95%;">
    <br><br><br><br>

    <button type="button" class="action-button" (click)="delete()" *ngIf="!loadin">SUBMIT</button>
    <mat-spinner [diameter]="40" class="centered"  *ngIf="loadin"></mat-spinner>
  </div>
</div>
