<div class="user-container">
    <div class="title-continer">
        USER LOGIN
    </div>
    <div class="content-container">
        <p>USERNAME</p>
        <input type="text" name="userName" [(ngModel)] = "formData.userName">
        <br><br>
        <p>PASSWORD</p>
        <input type="password" name="password" [(ngModel)] = "formData.password">
        <br><br>
        <a class="reset-link" routerLink="/reset">RESET PASSWORD</a>
        <br><br><br>
    </div>
    <button type="button" class="action-button" (click)="login()" *ngIf="!loader">SUBMIT</button>
    <mat-spinner [diameter]="40" class="centered"  *ngIf="loader"></mat-spinner>
</div>
