<div class="content" fxLayout="row" fxLayout.xs="row" fxLayout.md="row" fxLayout.sm="row" fxFlexFil style="background: #efefef;">
    <div fxFlex="20" fxFlex.md="20" class="desktop-side-menu" style="background: #ffffff;">

        <div class="header-link">
            YNK SALES
            <br>
        </div>

        <table class="nav-links">
            <tr>
                <td>
                   <a routerLinkActive="active" routerLink="/app/new-sale">New Sale</a>
                </td>
            </tr>

            <tr>
                <td>
                    <a routerLinkActive="active" routerLink="/app/sale-today">Today's Sales</a>
                </td>
            </tr>

            <tr *ngIf="this.userInfo.userInfo.role === 'admin'">
                <td>
                    <a routerLinkActive="active" routerLink="/app/sales-history">Sales History</a>
                </td>
            </tr>

            <tr *ngIf="this.userInfo.userInfo.role === 'admin'">
                <td>
                    <a routerLinkActive="active" routerLink="/app/products">Products Management</a>
                </td>
            </tr>


            <tr *ngIf="this.userInfo.userInfo.role === 'admin'">
                <td>
                    <a routerLinkActive="active" routerLink="/app/users">User Management</a>
                </td>
            </tr>

            <tr *ngIf="this.userInfo.userInfo.role === 'admin'">
                <td>
                    <a routerLinkActive="active" routerLink="/app/shop">Shops Management</a>
                </td>
            </tr>

          <tr *ngIf="this.userInfo.userInfo.role === 'admin'">
            <td>
              <a routerLinkActive="active" routerLink="/app/submitted">Submitted to bank</a>
            </td>
          </tr>



            <tr>
                <td>
                   <a (click)="logout()">Logout</a>
                </td>
            </tr>
        </table>
    </div>
    <div fxFlex="80" fxFlex.md="80" fxFlex.xs="100" fxFlex.sm="100">
        <div class="main-container" style="padding-left: 0.5%; padding-top: 0.5%; padding-right: 0.5%;">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>

