<div class="change-container">
    <div class="title-continer">
        CHANGE PASSWORD
    </div>
    <div class="content-container">
        <p>CODE</p>
        <input type="number" name="code" [(ngModel)] = "formData.code">
        <br><br>
        <p>PASSWORD</p>
        <input type="password" name="password" [(ngModel)] = "formData.password">
        <br><br>

        <p>RE-TYPE PASSWORD</p>
        <input type="password" name="reTypePassword" [(ngModel)] = "reTypePassword">
        <br><br>
        
    </div>
    <button type="button" class="action-button" (click)="login()" *ngIf="!loader">SUBMIT</button>
    <mat-spinner [diameter]="40" class="centered"  *ngIf="loader"></mat-spinner>
</div>

