<div class="content" fxLayout="row" fxLayoutGap="20px" fxLayout.xs="row" fxLayout.md="row" fxLayout.sm="row" fxFlexFill>
    <div fxFlex="60" fxFlex.md="60" fxFlex.xs="100" fxFlex.sm="100" style="border-top: 4px solid #992b00; background: #ffffff; height: 100vh; padding: 2%;">
        <h2>Users</h2>
        <div style="padding-left: 1%; padding-right: 1%;" [hidden]="!isData">

            <input  (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input style="height: 40px;">
            <br><br>
          <div class="mat-elevation-z5">
            <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">


              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>

                 <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                  </ng-container>


              <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                <td mat-cell *matCellDef="let row"> {{row.username}}</td>
              </ng-container>

              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
                <td mat-cell *matCellDef="let row" > {{row.phone}} </td>
              </ng-container>


              <ng-container matColumnDef="shopName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Shop</th>
                <td mat-cell *matCellDef="let row" > {{row.shopName}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let row" > {{row.status}} </td>
              </ng-container>

              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
                <td mat-cell *matCellDef="let row"  style="text-align: center;">
                  <button mat-icon-button (click)="edit(row.id)">
                    <mat-icon>more_vert</mat-icon>
                  </button>

                </td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
          </div>
    </div>
    </div>

    <div fxFlex="40" fxFlex.md="40" fxFlex.xs="100" fxFlex.sm="100"style="border-top: 4px solid #009988; background: #ffffff; height: 83vh; padding: 10px;">
        <h2>Add User</h2>
        <span>First Name</span><br>
        <input type="text" name="firstName" [(ngModel)] = "formData.firstName">
        <br><br>

        <span>Last Name</span><br>
        <input type="text" name="lastName" [(ngModel)] = "formData.lastName">
        <br><br>

        <span>Username</span><br>
        <input type="text" name="userName" [(ngModel)] = "formData.userName">
        <br><br>

        <span>Phone</span><br>
        <input type="text" name="phone" [(ngModel)] = "formData.phone">
        <br><br>

        <span>Shop</span><br>
        <select name="shopId" [(ngModel)] = "formData.shopId" (ngModelChange)="getShopName($event)">
            <option *ngFor="let shop of shops" value="{{shop.id}}">{{shop.name}}</option>
        </select>
        <br><br>

        <span>Role</span><br>
        <select name="role" [(ngModel)] = "formData.role">
            <option value="teller">Teller</option>
            <option value="admin">Admin</option>
        </select>
        <br><br>

        <button type="button" class="action-button" (click)="add()" *ngIf="!loader">SUBMIT</button>
    <mat-spinner [diameter]="40" class="centered"  *ngIf="loader"></mat-spinner>
    </div>
</div>
