<div class="content" fxLayout="row" fxLayoutGap="20px" fxLayout.xs="row" fxLayout.md="row" fxLayout.sm="row" fxFlexFill>
  <div fxFlex="100" fxFlex.md="100" fxFlex.xs="100" fxFlex.sm="100" style="border-top: 4px solid #992b00; background: #ffffff; height: 100vh; padding: 2%;">
    <h2>CASH SUBMITTED</h2>
    <div style="padding-left: 1%; padding-right: 1%;" [hidden]="!isData">

      <input  (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input style="height: 40px;">
      <br><br>
      <div class="mat-elevation-z5">
        <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">


          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <ng-container matColumnDef="bankName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> BANK NAME </th>
            <td mat-cell *matCellDef="let row"> {{row.bankName}} </td>
          </ng-container>


          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> AMOUNT SUBMITTED </th>
            <td mat-cell *matCellDef="let row"> {{row.amount | currency: 'GHS '}}</td>
          </ng-container>

          <ng-container matColumnDef="addedBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ADDED BY </th>
            <td mat-cell *matCellDef="let row" > {{row.addedBy}} </td>
          </ng-container>


          <ng-container matColumnDef="dateCreated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Date </th>
            <td mat-cell *matCellDef="let row" > {{row.dateCreated | date: 'MMM d, y, h:mm:ss a'}} </td>
          </ng-container>




          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
