<div class="reset-container">
    <div class="title-continer">
        RESET PASSWORD
    </div>
    <div class="content-container">
        <p>USERNAME</p>
        <input type="text" name="userName" [(ngModel)] = "formData.userName">
  
        <br><br><br>
    </div>
    <button type="button" class="action-button" (click)="login()" *ngIf="!loader">SUBMIT</button>
    <mat-spinner [diameter]="40" class="centered"  *ngIf="loader"></mat-spinner>
</div>
