<div class="content" fxLayout="row" fxLayoutGap="20px" fxLayout.xs="row" fxLayout.md="row" fxLayout.sm="row" fxFlexFill>
    <div fxFlex="70" fxFlex.md="70" fxFlex.xs="100" fxFlex.sm="100" style="border-top: 4px solid #992b00; background: #ffffff; height: 100vh; padding: 2%;">
        <h2>Products</h2>

        <div style="padding-left: 0.5%; padding-right: 0.5%;" [hidden]="!isData">

            <input  (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input style="height: 40px;">
            <br><br>
          <div class="mat-elevation-z5">
            <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">


              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>

                 <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                  </ng-container>


              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Type </th>
                <td mat-cell *matCellDef="let row"> {{row.type}}</td>
              </ng-container>

              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Price(GHS) </th>
                <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.price}} </td>
              </ng-container>


              <ng-container matColumnDef="shopName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Shop</th>
                <td mat-cell *matCellDef="let row" > {{row.shopName}} </td>
              </ng-container>

              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
                <td mat-cell *matCellDef="let row"  style="text-align: center;"> {{row.quantity}} </td>
              </ng-container>

              <ng-container matColumnDef="dateCreated">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </th>
                <td mat-cell *matCellDef="let row" > {{row.dateCreated | date: 'MMM d, y, h:mm a'}} </td>
              </ng-container>

              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
                <td mat-cell *matCellDef="let row"  style="text-align: center;">
                  <button mat-icon-button (click)="edit(row.id)">
                    <mat-icon>more_vert</mat-icon>
                  </button>

                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
          </div>
      </div>
    </div>

    <div fxFlex="30" fxFlex.md="30" fxFlex.xs="100" fxFlex.sm="100"style="border-top: 4px solid #009988; background: #ffffff; height: 80vh; padding: 10px;">
        <h2>Add Product</h2>
        <span>Name</span><br>
        <input type="text" name="name" [(ngModel)] = "formData.name" style="width: 95%;">
        <br><br>

        <span>Type</span><br>
      <input type="text" name="type" [(ngModel)] = "formData.type" style="width: 95%;">
        <br><br>

        <span>Price (GHS)</span><br>
        <input type="number" name="price" [(ngModel)] = "formData.price" style="width: 95%;">
        <br><br>

        <span>Quantity</span><br>
        <input type="text" name="quantity" [(ngModel)] = "formData.quantity" style="width: 95%;">
        <br><br>

        <span>Shop</span><br>
        <select name="shopId" [(ngModel)] = "formData.shopId" (ngModelChange)="getShopName($event)"  style="width: 95%;">
            <option *ngFor="let shop of shops" value="{{shop.id}}">{{shop.name}}</option>
        </select>
        <br><br>



        <button type="button" class="action-button" (click)="add()" *ngIf="!loader">SUBMIT</button>
    <mat-spinner [diameter]="40" class="centered"  *ngIf="loader"></mat-spinner>

    </div>
</div>
