<div class="content" fxLayout="row" fxLayoutGap="20px" fxLayout.xs="row" fxLayout.md="row" fxLayout.sm="row" fxFlexFill>
    <div fxFlex="60" fxFlex.md="60" fxFlex.xs="100" fxFlex.sm="100" style="border-top: 4px solid #992b00; background: #ffffff; height: 100vh; padding: 2%;">
        <h2>Shops</h2>
        <div style="padding-left: 1%; padding-right: 1%;" [hidden]="!isData">

            <input  (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input style="height: 40px;">
            <br><br>
          <div class="mat-elevation-z5">
            <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">


              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>

                 <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Shop Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                  </ng-container>


              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
                <td mat-cell *matCellDef="let row"> {{row.location}}</td>
              </ng-container>

              <ng-container matColumnDef="createdBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
                <td mat-cell *matCellDef="let row" > {{row.createdBy}} </td>
              </ng-container>


              <ng-container matColumnDef="dateCreated">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Created </th>
                <td mat-cell *matCellDef="let row" > {{row.dateCreated | date: 'MMM d, y, h:mm:ss a'}} </td>
              </ng-container>

              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
                <td mat-cell *matCellDef="let row"  style="text-align: center;">
                  <button mat-icon-button (click)="edit(row.id)">
                    <mat-icon>more_vert</mat-icon>
                  </button>

                </td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
          </div>
          </div>


    </div>

    <div fxFlex="40" fxFlex.md="40" fxFlex.xs="100" fxFlex.sm="100"style="border-top: 4px solid #009988; background: #ffffff; height: 40vh; padding: 10px;">
        <h2>Add Shop</h2>

        <span>Shop Name</span><br>
        <input type="text" name="name" [(ngModel)] = "formData.name">
        <br><br>

        <span>Shop Location</span><br>
        <input type="text" name="location" [(ngModel)] = "formData.location">
        <br><br>


        <button type="button" class="action-button" (click)="addShop()" *ngIf="!loader">SUBMIT</button>
    <mat-spinner [diameter]="40" class="centered"  *ngIf="loader"></mat-spinner>
    </div>
</div>

