<div mat-dialog-title>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <button (click)="onNoClick()" class="dialog-btn-close"><mat-icon class="dialog-close-btn">close</mat-icon></button>
  </div>
</div>

<div mat-dialog-content>

  <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedOption">
    <mat-radio-button value="1">Update Stock</mat-radio-button>
    <mat-radio-button value="2" style="margin-left: 10% !important;">Update Price</mat-radio-button>
    <mat-radio-button value="3" style="margin-left: 10% !important;">Delete</mat-radio-button>
  </mat-radio-group>

  <div *ngIf="selectedOption === '1'" style="padding-top: 5%;">

    <span>Price (GHS)</span><br>
    <input type="number" name="price" [(ngModel)] = "formData.price" style="width: 95%;">
    <br><br>

    <span>Quantity</span><br>
    <input type="text" name="quantity" [(ngModel)] = "formData.quantity" style="width: 95%;">
    <br><br><br><br>

    <button type="button" class="action-button" (click)="add()" *ngIf="!loadin">SUBMIT</button>
    <mat-spinner [diameter]="40" class="centered"  *ngIf="loadin"></mat-spinner>
  </div>

  <div *ngIf="selectedOption === '2'" style="padding-top: 5%;">
    <span>New Price (GHS)</span><br>
    <input type="number" name="price" [(ngModel)] = "formData.price" style="width: 95%;">
    <br><br><br><br>

    <button type="button" class="action-button" (click)="update()" *ngIf="!loadin">SUBMIT</button>
    <mat-spinner [diameter]="40" class="centered"  *ngIf="loadin"></mat-spinner>
  </div>

  <div *ngIf="selectedOption === '3'" style="padding-top: 5%;">
    <span>Reason</span><br>
    <input type="text" name="quantity"  [(ngModel)] = "formData.reason" style="width: 95%;">
    <br><br><br><br>

    <button type="button" class="action-button" (click)="delete()" *ngIf="!loadin">SUBMIT</button>
    <mat-spinner [diameter]="40" class="centered"  *ngIf="loadin"></mat-spinner>
  </div>
</div>
