<div class="content" fxLayout="row" fxLayoutGap="20px" fxLayout.xs="row" fxLayout.md="row" fxLayout.sm="row" fxFlexFill>
    <div fxFlex="70" fxFlex.md="70" fxFlex.xs="100" fxFlex.sm="100" style="border-top: 4px solid #992b00; background: #ffffff; height: 100vh; padding: 2%;">
        <button *ngIf="!availablePrint" (click)="addPrinter()" style="border: none; background-color: cadetblue; color: #ffffff; border-radius: 5px; cursor: pointer; padding: 7px; margin-bottom: 10px;"> PRINTER</button><br>
        <input [(ngModel)]="selectedValue"
       [typeahead]="products"
       typeaheadOptionField="name"
       class="type" id="selectProd"
       placeholder="Start typing to search for product...."
       (typeaheadOnSelect)="onSelect($event)">
        <br><br>
       <h2 *ngIf="saleItems.length > 0">Items</h2>
       <div class="items-area" [hidden]="saleItems.length === 0">
           <table class="sale-tab">
           <thead>
               <tr>
                   <th style="width: 5%;">ID</th>
                   <th style="width: 50%;">Name</th>
                   <th style="width: 15%;">Quantity</th>
                   <th style="width: 15%;">Total (GHS)</th>
                   <th style="width: 15%;">Remove</th>
               </tr>
           </thead>
           <tbody>
            <tr *ngFor="let items of saleItems; let in=index">
                <td style="width: 5%;">{{in + 1}}</td>
                <td style="width: 50%;">{{items.productName}}</td>
                <td style="width: 15%;">
                    <input type="number" class="sales-input" name="quantity{{in}}" #name="ngModel" [(ngModel)]="saleItems[in].quantity" (keyup)="addQuantity(in)" id="quantity{{in}}">
                </td>
                <td style="width: 15%;">
                    {{items.totalPrice | currency: ' '}}
                </td>
                <td style="width: 15%;">
                    <button (click)="remove(in)" class="remove-btn" style="background: #ff0000; color: #ffffff; width: 30px; border: none; border-radius: 5px; cursor: pointer; padding-top: 5px; padding-right: 10px;">
                        <mat-icon>close</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>

       </table>
       </div>

    </div>

    <div fxFlex="30" fxFlex.md="30" fxFlex.xs="100" fxFlex.sm="100"style="border-top: 4px solid #009988; background: #ffffff; height: 65vh; padding: 5px;">
        <button class="clear-btn" (click)="clearTill()"  *ngIf="saleItems.length > 0">
            CLEAR
        </button>
        <br><br>
        <table style="width: 90%;" class="total-table"  *ngIf="saleItems.length > 0">
            <tr>
                <td style="text-align: left; color: #494949; font-size: 20px;">Items</td>
                <td style="text-align: right; color: #000000; font-size: 25px;">{{items}}</td>
            </tr>

            <tr>
                <td style="text-align: left; color: #494949; font-size: 20px;">Total(GHS)</td>
                <td style="text-align: right; color: #000000; font-size: 25px;">{{amount | currency: ' '}}</td>
            </tr>

            <tr>
                <td style="text-align: left; color: #494949; font-size: 17px;">Payment Type</td>
                <td style="text-align: right; color: #000000;">
                    <select name="paymentType" [(ngModel)] = "formData.paymentType" style="width: 95%;">
                        <option value="CASH">CASH</option>
                        <option value="Mobile Money" selected>Mobile Money</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td style="text-align: left; color: #494949; font-size: 17px;">Amount Paid</td>
                <td style="text-align: right; color: #000000;">
                    <input type="number" style="text-align: right; font-size: 25px;" class="sales-input"  [(ngModel)]="amountPaid" (keyup)="calculateChange()">
                </td>
            </tr>

            <tr>
                <td style="text-align: left; color: #494949; font-size: 20px;">Change</td>
                <td style="text-align: right; color: #000000; font-size: 25px;">{{change | currency: ' '}}</td>
            </tr>


        </table>
        <br><br>
        <button  *ngIf="saleItems.length > 0 && !loader" (click)="submit()" style="border: none; width: 100%; text-align: center; height: 40px; background-color: #1a5801; color: #ffffff; cursor: pointer;">
            SUBMIT
        </button>
        <mat-spinner [diameter]="40" class="centered"  *ngIf="loader"></mat-spinner>
    </div>
</div>
