
  <div class="content" fxLayout="row" fxLayoutGap="20px" fxLayout.xs="row" fxLayout.md="row" fxLayout.sm="row" fxFlexFill>
    <div fxFlex="70" fxFlex.md="70">
        <div style="border-top: 4px solid #992b00; background: #ffffff; height: 100vh; padding: 2%;">
          <div style="padding-left: 5%; padding-right: 5%;" [hidden]="!isData">

            <input  (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input style="height: 40px;">
            <br><br>
          <div class="mat-elevation-z5">
            <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">


              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
              </ng-container>

                 <ng-container matColumnDef="productName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product </th>
                    <td mat-cell *matCellDef="let row"> {{row.productName}} </td>
                  </ng-container>


              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
                <td mat-cell *matCellDef="let row"> {{row.quantity}}</td>
              </ng-container>

              <ng-container matColumnDef="unitPrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit Price </th>
                <td mat-cell *matCellDef="let row" > {{row.unitPrice}} </td>
              </ng-container>


              <ng-container matColumnDef="totalPrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Cost </th>
                <td mat-cell *matCellDef="let row" > {{row.totalPrice}} </td>
              </ng-container>

              <ng-container matColumnDef="dateCreated">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Date </th>
                <td mat-cell *matCellDef="let row" > {{row.dateCreated | date: 'MMM d, y, h:mm:ss a'}} </td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator>
          </div>
        </div>
      </div>

    </div>

    <div fxFlex="30" fxFlex.md="30" style="border-top: 4px solid #009988; background: #ffffff; height: 40vh; padding: 5px;">
      <h3>CASH IN HAND</h3>
      <h1 *ngIf="isData">
        {{cashInHand | currency: 'GHS '}}
      </h1>

      <br><br><br>
      <button *ngIf="!loader"  (click)="submit()" style="border: none; width: 100%; text-align: center; height: 40px; background-color: #1a5801; color: #ffffff; cursor: pointer;">
        SUBMIT
      </button>
      <mat-spinner [diameter]="40" class="centered"  *ngIf="loader"></mat-spinner>
    </div>
</div>
