/* You can add global styles to this file, and also import other style files */


body {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
  }


  .user-container{
      position: fixed;
      width: 30vw;
      height: 55vh;
      top: 15%;
      left: 35%;
      border: 1px solid #cccccc;
      border-radius: 5px;
  }

  .title-continer{
      height: 6vh;
      background-color: cadetblue;
      color: #ffffff;
      text-align: center;
      font-style: bold;
      font-size: 25px;
      padding-top: 3%;
  }

  input, select{
    border: 1px solid #cccccc;
    border-radius: 2px;
    height: 40px;
    width: 80%;
    padding: 10px;
    font-size: 18px;
  }

  .content-container{
      padding-top: 5%;
      padding-left: 10%;
  }

  .action-button{
      border: none;
      background: darkslategray;
      color: #ffffff;
      font-size: 15px;
      width: 100px;
      height: 40px;
      border-radius: 5px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      cursor: pointer;
  }

  .reset-link{
      text-align: center;
      cursor: pointer;
      color: #0000ff;
      text-decoration: underline;
  }




  .reset-container{
    position: fixed;
    width: 30vw;
    height: 35vh;
    top: 15%;
    left: 35%;
    border: 1px solid #cccccc;
    border-radius: 5px;
}


.change-container{
    position: fixed;
    width: 30vw;
    height: 65vh;
    top: 15%;
    left: 35%;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.centered{
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.header-link{
    background-color: #ffffff;
    margin-bottom: 10px;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 30px;

}

table.nav-links{
    border-top: 1px solid #cccccc;
    width: 100%;
    font-size: 20px;
}

table.nav-links tr,td{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    cursor: pointer;
}

.active{
    color: cadetblue;
}

a{
    text-decoration: none;
    color: unset;
}

.type{
    border: 1px solid #cccccc;
    border-radius: 2px;
    height: 40px !important;
    width: 80%;
    padding: 10px;
    font-size: 18px;
}

table.sale-tab{
    width: 100%;
    padding-top: 5%;
}

.items-area{
    height: 80vh;
    overflow-y: scroll;
}

table.sale-tab th, td{
    text-align: left;
}

.sales-input{
    height: 100% !important;

}

.mat-icon {

    height: 18px !important;
    width: 18px !important;
    font-size: 18px !important;
}

.clear-btn{
    border: none;
    background-color: #000d47;
    color: #ffffff;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    float: right;
}

table.total-table tr,td{
    border: none !important;
}



input.sales-input::-webkit-outer-spin-button,
input.sales-input::-webkit-inner-spin-button {
  display: none !important;
}

input.sales-input {
  -moz-appearance: textfield !important;
}


a:hover{
    text-decoration: unset;
    color: cadetblue;
}

.dialog-btn-close{
  background: transparent;
  border: none;
  cursor: pointer;
}

textarea:focus, input:focus, button:focus, select:focus{
  outline: none;
}
